[user]
	email = maturanolorenzo@gmail.com
	name = Lorenzo Maturano
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = ~/nvim.appimage
[commit]
	gpgsign = true
